html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    /*margin: 0 auto -60px;*/
    /*padding: 0 0 60px;*/
    margin: 0 auto;
    padding: 0;
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
    padding: 60px 15px 0;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.slider.slider-horizontal {
    width: 100%;
    height: 20px;
}
.scale{
    position: relative;
    height: 20px;
}
.scale span{
    position: absolute;
}

/** NEW DESIGN */
/** navbar */
.navbar-inverse {
    background-color: #18bbbe;
    border-color: #18bbbe;
}
.navbar-inverse .navbar-text {
    color: #fff;
}
.navbar-brand > img{
    height: 20px;
}
.navbar-text{
    padding: 0 15px;
}
.navbar-text a{
    text-decoration: none;
    color: inherit;
}

/** colors */
.cyan{
    color: #18bbbe;
}
.dark-grey{
    color: #505050;
}
.grey{
    color: #8e8e8e;
}
.light-grey{
    color: #f2f2f2;
}

/** size */
.font-big{
    font-size: 18px;
}
.font-regular{
    font-size: 14px;
}
.font-small{
    font-size: 12px;
}
.font-tiny{
    font-size: 10px;
}
.no-margin{
    margin: 0;
}

/** forms */
.form-group{
    margin: 20px 0;
}
.form-control {
    padding: 10px 15px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #8e8e8e;
    text-align: center;
    font-size: 18px;
    height: auto;
}
.has-success .form-control,.has-success .form-control:focus,.form-control:focus{
    border-color: #18bbbe;
}
.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
    color: inherit;
}
.help-block{
    font-size: 12px;
}
.scale span{
    font-size: 12px;
    color: #8e8e8e;
}
.slider-selection{
    background-image: -webkit-linear-gradient(left,#fcfefe 0,#0eb7c0 100%);
    background-image: -o-linear-gradient(left,#fcfefe 0,#0eb7c0 100%);
    background-image: linear-gradient(to right,#fcfefe 0,#0eb7c0 100%);
}

/** buttons */
.btn-primary{
    height: 50px;
    width: calc(100% - 30px);
    max-width: 1138px;
    position: fixed;
    bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #18bbbe;
    border-color: #18bbbe;
    background: -webkit-linear-gradient(#18bbbe, #2fc5c1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#18bbbe, #2fc5c1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#18bbbe, #2fc5c1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#18bbbe, #2fc5c1); /* Standard syntax */
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus,.btn-primary:active:focus{
    background-color: #18bbbe;
    border-color: #18bbbe;
}
.slider-handle{
    background-color: #18bbbe;
    background-image: -webkit-linear-gradient(top,#18bbbe 0,#2fc5c1 100%);
    background-image: -o-linear-gradient(top,#18bbbe 0,#2fc5c1 100%);
    background-image: linear-gradient(to bottom,#18bbbe 0,#2fc5c1 100%);
}

/** panels */
.panel-default {
    border-color: #f2f2f2;
}
.panel-body {
    padding: 10px 15px;
    background-color: #f2f2f2;
    color: #8e8e8e;
    text-align: center;
    font-size: 18px;
}

/** table */
.table-application{
   font-size: 12px;
    font-weight: bold;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0;
    border-bottom: 1px solid #ddd;
}

/** headers */
.site-success h1{
    font-size: 56px;
    font-weight: bold;
}

/** image */
.success-img{
    max-width: 80%;
}
